In [70]:
import pandas as pd
#dfC = pd.read_csv("non-cliques.csv", delimiter=" ", header=None)
dfC = pd.read_csv("top700imdb.txt", header=None)

non_cliques = dfC[0].values
non_cliques
# non_cliques = []
# for index, row in dfC.iterrows():
#     i = 0
#     for col in range(0, 12):
#         try:
#             if row[col][0] == "t":
#                 non_cliques.append(row[col])
#         except:
#             continue
# print(len(non_cliques))           
# blondieTitles = ["tt0038368","tt0039201","tt0040174","tt0040174","tt0029927","tt0031106","tt0031108",
#                 "tt0031108","tt0032261","tt0032262", "tt0032263", "tt0033403"]
# for title in blondieTitles:
#     non_cliques.append(title)
# len(non_cliques)

array(['tt0111161', 'tt0068646', 'tt0468569', 'tt0071562', 'tt0050083',
       'tt0167260', 'tt0110912', 'tt0108052', 'tt1375666', 'tt10189514',
       'tt0137523', 'tt0120737', 'tt0109830', 'tt0060196', 'tt0167261',
       'tt0133093', 'tt0099685', 'tt0080684', 'tt0073486', 'tt8503618',
       'tt6751668', 'tt0816692', 'tt0317248', 'tt0245429', 'tt0120815',
       'tt0120689', 'tt0118799', 'tt0114369', 'tt0102926', 'tt0076759',
       'tt0056058', 'tt0047478', 'tt0038650', 'tt7286456', 'tt6148156',
       'tt2582802', 'tt1675434', 'tt0482571', 'tt0407887', 'tt0253474',
       'tt0172495', 'tt0120586', 'tt0114814', 'tt0110413', 'tt0110357',
       'tt0103064', 'tt0095765', 'tt0095327', 'tt0088763', 'tt0064116',
       'tt0054215', 'tt0034583', 'tt0027977', 'tt0021749', 'tt8267604',
       'tt6316138', 'tt5311514', 'tt5074352', 'tt4633694', 'tt4154796',
       'tt4154756', 'tt2380307', 'tt1853728', 'tt1345836', 'tt1187043',
       'tt0986264', 'tt0910970', 'tt0405094', 'tt0364569', 'tt0209144',
       'tt0119698', 'tt0087843', 'tt0082971', 'tt0081505', 'tt0078788',
       'tt0078748', 'tt0066763', 'tt0057565', 'tt0057012', 'tt0051201',
       'tt0050825', 'tt0047396', 'tt0043014', 'tt0032553', 'tt8579674',
       'tt8239946', 'tt8108198', 'tt3417422', 'tt2106476', 'tt1832382',
       'tt1255953', 'tt10431500', 'tt0476735', 'tt0435761', 'tt0361748',
       'tt0338013', 'tt0211915', 'tt0208092', 'tt0180093', 'tt0169547',
       'tt0119217', 'tt0118849', 'tt0114709', 'tt0112573', 'tt0105236',
       'tt0097223', 'tt0093058', 'tt0091251', 'tt0090605', 'tt0086879',
       'tt0086250', 'tt0086190', 'tt0082096', 'tt0075314', 'tt0070735',
       'tt0066921', 'tt0062622', 'tt0059578', 'tt0056172', 'tt0053604',
       'tt0053125', 'tt0052357', 'tt0045152', 'tt0044741', 'tt0040522',
       'tt0036775', 'tt0033467', 'tt0017136', 'tt0012349', 'tt9052870',
       'tt8291224', 'tt7838252', 'tt6966692', 'tt5027774', 'tt4934950',
       'tt4849438', 'tt4729430', 'tt4430212', 'tt3322420', 'tt2991224',
       'tt2356180', 'tt1954470', 'tt1639426', 'tt1620933', 'tt1305806',
       'tt1291584', 'tt1130884', 'tt1049413', 'tt0993846', 'tt0871510',
       'tt0469494', 'tt0457430', 'tt0434409', 'tt0405508', 'tt0375611',
       'tt0372784', 'tt0367110', 'tt0363163', 'tt0347149', 'tt0268978',
       'tt0242519', 'tt0120735', 'tt0119488', 'tt0116231', 'tt0113277',
       'tt0112641', 'tt0109117', 'tt0105695', 'tt0097576', 'tt0096283',
       'tt0095016', 'tt0089881', 'tt0081398', 'tt0079944', 'tt0077711',
       'tt0074896', 'tt0073707', 'tt0071853', 'tt0057115', 'tt0056592',
       'tt0055630', 'tt0055031', 'tt0053291', 'tt0050986', 'tt0050976',
       'tt0048021', 'tt0046912', 'tt0046438', 'tt0042876', 'tt0042192',
       'tt0040897', 'tt0035446', 'tt0015864', 'tt0015324', 'tt8613070',
       'tt5571734', 'tt5323662', 'tt4857264', 'tt4016934', 'tt3612616',
       'tt3390572', 'tt3315342', 'tt3170832', 'tt3011894', 'tt2758880',
       'tt2338151', 'tt2283748', 'tt2278388', 'tt2267998', 'tt2140203',
       'tt2119532', 'tt2096673', 'tt2082197', 'tt2024544', 'tt1979320',
       'tt1950186', 'tt1895587', 'tt1865505', 'tt1821480', 'tt1562872',
       'tt1392214', 'tt1392190', 'tt1280558', 'tt1205489', 'tt1201607',
       'tt1069238', 'tt1028532', 'tt0978762', 'tt0892769', 'tt0861739',
       'tt0758758', 'tt0477348', 'tt0456144', 'tt0405159', 'tt0395169',
       'tt0386064', 'tt0381681', 'tt0374887', 'tt0353969', 'tt0292490',
       'tt0266697', 'tt0266543', 'tt0264464', 'tt0245712', 'tt0169858',
       'tt0169102', 'tt0167404', 'tt0120731', 'tt0120382', 'tt0118843',
       'tt0118715', 'tt0118694', 'tt0117951', 'tt0116282', 'tt0114787',
       'tt0113247', 'tt0112870', 'tt0112471', 'tt0111495', 'tt0109424',
       'tt0107290', 'tt0107207', 'tt0101640', 'tt0097165', 'tt0092005',
       'tt0091763', 'tt0087884', 'tt0087544', 'tt0084787', 'tt0084503',
       'tt0083946', 'tt0083922', 'tt0083658', 'tt0080678', 'tt0079470',
       'tt0077416', 'tt0075148', 'tt0074958', 'tt0072684', 'tt0072443',
       'tt0071315', 'tt0070510', 'tt0069467', 'tt0069293', 'tt0062229',
       'tt0061512', 'tt0060827', 'tt0060107', 'tt0058946', 'tt0056732',
       'tt0056687', 'tt0056443', 'tt0056217', 'tt0056111', 'tt0053976',
       'tt0053946', 'tt0053198', 'tt0052618', 'tt0051808', 'tt0051036',
       'tt0050783', 'tt0050613', 'tt0050212', 'tt0047296', 'tt0046268',
       'tt0043338', 'tt0042041', 'tt0041959', 'tt0040725', 'tt0033045',
       'tt0032976', 'tt0031679', 'tt0031381', 'tt0028950', 'tt0025316',
       'tt0019254', 'tt0018773', 'tt0018455', 'tt0017925', 'tt0010323',
       'tt8075192', 'tt7725596', 'tt7653254', 'tt5116302', 'tt4387040',
       'tt3863552', 'tt3848892', 'tt3783958', 'tt3741834', 'tt3659388',
       'tt2948356', 'tt2631186', 'tt2576852', 'tt2543472', 'tt2395469',
       'tt2377938', 'tt2370248', 'tt2265171', 'tt2084970', 'tt2015381',
       'tt1856101', 'tt1798709', 'tt1727824', 'tt1663202', 'tt1659337',
       'tt1555149', 'tt1504320', 'tt1454029', 'tt1431045', 'tt1360860',
       'tt1327035', 'tt1220719', 'tt1188996', 'tt1171701', 'tt1010048',
       'tt0947798', 'tt0848228', 'tt0808417', 'tt0790636', 'tt0454921',
       'tt0450259', 'tt0440963', 'tt0423866', 'tt0401792', 'tt0401383',
       'tt0384116', 'tt0382932', 'tt0381061', 'tt0378194', 'tt0376968',
       'tt0374546', 'tt0369702', 'tt0352248', 'tt0347304', 'tt0338564',
       'tt0325980', 'tt0319061', 'tt0317705', 'tt0293715', 'tt0276919',
       'tt0270053', 'tt0246578', 'tt0198781', 'tt0175880', 'tt0168629',
       'tt0166896', 'tt0156887', 'tt0154420', 'tt0140888', 'tt0129167',
       'tt0119472', 'tt0117666', 'tt0117589', 'tt0114746', 'tt0113568',
       'tt0107688', 'tt0107048', 'tt0106469', 'tt0105323', 'tt0103639',
       'tt0102138', 'tt0101414', 'tt0099348', 'tt0097216', 'tt0095953',
       'tt0094625', 'tt0093779', 'tt0093191', 'tt0092593', 'tt0092067',
       'tt0088247', 'tt0083987', 'tt0080979', 'tt0078841', 'tt0075686',
       'tt0074119', 'tt0073195', 'tt0072890', 'tt0072431', 'tt0070511',
       'tt0070047', 'tt0069281', 'tt0067328', 'tt0067093', 'tt0065571',
       'tt0064115', 'tt0063522', 'tt0063442', 'tt0061722', 'tt0061184',
       'tt0059742', 'tt0059113', 'tt0058461', 'tt0056801', 'tt0056663',
       'tt0054997', 'tt0053779', 'tt0053221', 'tt0052561', 'tt0052311',
       'tt0051459', 'tt0049406', 'tt0048424', 'tt0047528', 'tt0046911',
       'tt0046359', 'tt0046250', 'tt0044081', 'tt0042593', 'tt0041546',
       'tt0040746', 'tt0039689', 'tt0037558', 'tt0037008', 'tt0036868',
       'tt0036613', 'tt0033870', 'tt0032551', 'tt0032138', 'tt0031885',
       'tt0025878', 'tt0020629', 'tt0015648', 'tt8946378', 'tt8110330',
       'tt5726616', 'tt5168192', 'tt5104604', 'tt5013056', 'tt4698684',
       'tt3553976', 'tt3544112', 'tt3501632', 'tt2872718', 'tt2584384',
       'tt2543164', 'tt2488496', 'tt2209418', 'tt1877832', 'tt1827487',
       'tt1655442', 'tt1631867', 'tt1602620', 'tt1302006', 'tt1235166',
       'tt1182345', 'tt1139797', 'tt1136608', 'tt1125849', 'tt1093370',
       'tt1070874', 'tt1065073', 'tt1032846', 'tt0796366', 'tt0780536',
       'tt0756683', 'tt0498380', 'tt0460791', 'tt0454876', 'tt0432283',
       'tt0401085', 'tt0372824', 'tt0371746', 'tt0365748', 'tt0347048',
       'tt0327056', 'tt0304141', 'tt0299977', 'tt0287467', 'tt0283509',
       'tt0275277', 'tt0258463', 'tt0247586', 'tt0206634', 'tt0181875',
       'tt0166924', 'tt0120363', 'tt0118749', 'tt0113824', 'tt0110729',
       'tt0108399', 'tt0108394', 'tt0107692', 'tt0106519', 'tt0099487',
       'tt0097937', 'tt0097123', 'tt0094226', 'tt0091167', 'tt0088846',
       'tt0088258', 'tt0085334', 'tt0080455', 'tt0079522', 'tt0078754',
       'tt0077402', 'tt0071615', 'tt0071129', 'tt0068361', 'tt0068182',
       'tt0067185', 'tt0066206', 'tt0065214', 'tt0063350', 'tt0063227',
       'tt0061811', 'tt0056923', 'tt0056218', 'tt0054331', 'tt0053619',
       'tt0052893', 'tt0049833', 'tt0049730', 'tt0048028', 'tt0044706',
       'tt0044079', 'tt0042546', 'tt0039628', 'tt0038787', 'tt0038355',
       'tt0037884', 'tt0032904', 'tt0032599', 'tt0029947', 'tt0029843',
       'tt0026778', 'tt0024216', 'tt0022913', 'tt0013442', 'tt8367814',
       'tt5186714', 'tt4901306', 'tt4846340', 'tt4468740', 'tt4434004',
       'tt4302938', 'tt4169250', 'tt4034228', 'tt3841424', 'tt3748528',
       'tt3498820', 'tt3460252', 'tt3281548', 'tt3262342', 'tt3169706',
       'tt2404461', 'tt2358891', 'tt2350496', 'tt2317337', 'tt2245084',
       'tt2194499', 'tt2181931', 'tt2024519', 'tt2013293', 'tt1979376',
       'tt1924396', 'tt1748122', 'tt1646971', 'tt1596363', 'tt1590089',
       'tt1588170', 'tt1568346', 'tt1535109', 'tt1527788', 'tt1398426',
       'tt1216496', 'tt1190539', 'tt1170358', 'tt1149362', 'tt1132620',
       'tt0964517', 'tt0936501', 'tt0914798', 'tt0907657', 'tt0903624',
       'tt0880502', 'tt0783233', 'tt0780504', 'tt0765429', 'tt0499549',
       'tt0485947', 'tt0472043', 'tt0449059', 'tt0425112', 'tt0421715',
       'tt0420332', 'tt0418455', 'tt0414387', 'tt0412080', 'tt0388473',
       'tt0379786', 'tt0358273', 'tt0338309', 'tt0332280', 'tt0318462',
       'tt0300140', 'tt0286244', 'tt0260991', 'tt0245844', 'tt0243017',
       'tt0210945', 'tt0190332', 'tt0185125', 'tt0162222', 'tt0144117',
       'tt0140352', 'tt0132477', 'tt0126029', 'tt0120338', 'tt0119250',
       'tt0119177', 'tt0119174', 'tt0115751', 'tt0109707', 'tt0108550',
       'tt0108358', 'tt0108037', 'tt0107943', 'tt0107653', 'tt0106977',
       'tt0106489', 'tt0106364', 'tt0104684', 'tt0102536', 'tt0101765',
       'tt0101507', 'tt0100157', 'tt0099077', 'tt0097814', 'tt0097441',
       'tt0097202', 'tt0096874', 'tt0095647', 'tt0093773', 'tt0092991',
       'tt0091042', 'tt0090967', 'tt0089218', 'tt0088939', 'tt0088847',
       'tt0087553', 'tt0087332', 'tt0086197', 'tt0085794', 'tt0083866',
       'tt0079417', 'tt0077651', 'tt0077405', 'tt0075029', 'tt0073341',
       'tt0071360', 'tt0069947', 'tt0069762', 'tt0068327', 'tt0067992',
       'tt0064665', 'tt0062467', 'tt0061735', 'tt0061418', 'tt0058385'],
      dtype=object)

In [78]:

import numpy as np
#Add RiffTrax and Wrestling perhaps
df1 = pd.read_csv("movie.statistics.csv")
df1.index = df1["Unnamed: 0"]
df2 = pd.read_csv("nodeStats.csv")
df2.index = df2["title"]
df = df1.join(df2)

df = df[~df.isin([np.nan, np.inf, -np.inf]).any(1)]
cutoffValue = df[df["cluster"]==4].sort_values("cluster.value", ascending=False).head(200)["cluster.value"].values[-1]
cutoffTwo = df[df["cluster"]==2].sort_values("cluster.value", ascending=False).head(100)["cluster.value"].values[-1]
cutoffSeven = df[df["cluster"]==7].sort_values("cluster.value", ascending=False).head(100)["cluster.value"].values[-1]

def flagClique(row):
    cluster = row["cluster"]
    value = row["cluster.value"]
    title = row["Unnamed: 0"]
    
    if cluster in [3, 5]:
        return 1
    elif cluster==2:
        if value < cutoffTwo:
            return None
        else:
            return 1
    elif cluster==7:
        if value < cutoffSeven:
            return None
        else:
            return 1
       
    elif title in non_cliques:
        return 0
    elif cluster==4:
        if value < cutoffValue:
            return None
        else:
            return 0
    else:
        return None
df["cliqueFlag"] = df.apply (lambda row: flagClique(row), axis=1)
dfTrain = df.dropna()

dfTrain

,Unnamed: 0,degrees,degress.from.tam,coreness,cluster,cluster.value,title,degMode,degMean,degLogSD,degLogSkew,degLogKurt,triangles,cliqueFlag
Unnamed: 0,,,,,,,,,,,,,,
tt0012349,tt0012349,184,3.0,132,1,9.381212,tt0012349,5.0,4.539851,4.097301,-0.333029,-1.635059,651.0,0.0
tt0015324,tt0015324,114,3.0,104,1,2.687411,tt0015324,5.0,4.640492,4.582576,-0.311740,-1.555730,576.0,0.0
tt0015864,tt0015864,136,3.0,118,1,7.054849,tt0015864,5.0,4.767323,4.441933,-0.430888,-1.413810,300.0,0.0
tt0017925,tt0017925,112,3.0,104,1,3.242180,tt0017925,5.0,4.646995,4.582576,-0.311740,-1.555730,490.0,0.0
tt0018455,tt0018455,336,2.0,202,1,2.899171,tt0018455,5.0,4.375431,4.086193,-0.381216,-1.577984,4371.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
tt9344158,tt9344158,82,5.0,78,2,69.947270,tt9344158,5.0,5.603728,4.590961,0.202419,-1.462761,154.0,1.0
tt9481630,tt9481630,38,4.0,26,2,0.263198,tt9481630,5.0,4.785688,4.559373,-0.044939,-1.502486,48.0,1.0
tt9514428,tt9514428,100,6.0,82,2,80.720173,tt9514428,6.0,6.449850,4.513715,0.224744,-1.505148,340.0,1.0
tt9630828,tt9630828,170,4.0,150,7,86.324406,tt9630828,5.0,5.201998,4.621577,0.064988,-1.552933,459.0,1.0
tt9697792,tt9697792,28,5.0,22,5,0.014750,tt9697792,5.0,5.097990,4.621262,0.018987,-1.583137,6.0,1.0

In [82]:
from sklearn.linear_model import LogisticRegression
dfTrain = dfTrain[~dfTrain.isin([np.nan, np.inf, -np.inf]).any(1)]
clf = LogisticRegression(random_state=0, max_iter=1000).fit(dfTrain[["degrees", "degress.from.tam", "coreness", "triangles", "degMode", "degMean", "degLogSD", "degLogSkew", "degLogKurt"]], dfTrain["cliqueFlag"])

In [83]:
print(clf.coef_, clf.intercept_)
print(clf.score(dfTrain[["degrees", "degress.from.tam", "coreness", "triangles", "degMode", "degMean", "degLogSD", "degLogSkew", "degLogKurt"]], dfTrain["cliqueFlag"]))

[[-2.57630170e-02  4.38438663e-02  3.32003578e-02 -1.24979839e-04
  -2.23444385e-01  2.10885385e+00 -1.32987434e+00  2.49286406e+00
   4.33868275e-01]] [-0.96108656]
0.8875

In [84]:
df["predictedClique"] = clf.predict(df[["degrees", "degress.from.tam", "coreness", "triangles", "degMode", "degMean", "degLogSD", "degLogSkew", "degLogKurt"]])
df

,Unnamed: 0,degrees,degress.from.tam,coreness,cluster,cluster.value,title,degMode,degMean,degLogSD,degLogSkew,degLogKurt,triangles,cliqueFlag,predictedClique
Unnamed: 0,,,,,,,,,,,,,,,
tt0000009,tt0000009,26,4.0,26,1,0.823608,tt0000009,5.0,5.094633,4.686314,-0.243604,-1.605240,45.0,NaN,1.0
tt0001159,tt0001159,146,3.0,146,1,0.900306,tt0001159,5.0,4.834920,4.350066,-0.487565,-1.326588,2556.0,NaN,1.0
tt0001186,tt0001186,6,3.0,6,1,0.317083,tt0001186,6.0,5.481783,4.783212,-0.297950,-1.563226,1.0,NaN,1.0
tt0001230,tt0001230,230,3.0,230,1,0.640627,tt0001230,5.0,4.518734,4.517771,-0.341638,-1.481714,6441.0,NaN,1.0
tt0001285,tt0001285,208,3.0,166,1,6.123897,tt0001285,5.0,4.890687,4.195541,-0.399708,-1.527353,1417.0,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
tt9907824,tt9907824,24,5.0,20,4,0.005730,tt9907824,6.0,5.609241,4.572773,0.123158,-1.477335,5.0,NaN,1.0
tt9910102,tt9910102,10,5.0,10,4,0.002815,tt9910102,6.0,5.780109,4.738623,-0.056389,-1.598004,0.0,NaN,1.0
tt9910302,tt9910302,52,4.0,38,4,0.020858,tt9910302,5.0,4.704711,4.542726,-0.032002,-1.664515,129.0,NaN,1.0
tt9914522,tt9914522,34,4.0,30,4,0.022572,tt9914522,5.0,5.337665,4.627122,0.024617,-1.568576,15.0,NaN,1.0
tt9915010,tt9915010,20,5.0,14,4,0.004734,tt9915010,6.0,5.806838,4.469268,0.144181,-1.642872,2.0,NaN,1.0

In [85]:
dfTrain[dfTrain["Unnamed: 0"]=="tt0038368"]
df[df["Unnamed: 0"]=="tt0038368"]

,Unnamed: 0,degrees,degress.from.tam,coreness,cluster,cluster.value,title,degMode,degMean,degLogSD,degLogSkew,degLogKurt,triangles,cliqueFlag,predictedClique
Unnamed: 0,,,,,,,,,,,,,,,
tt0038368,tt0038368,268,3.0,194,3,151.034877,tt0038368,5.0,4.563498,4.011348,-0.220772,-1.654735,1020.0,1.0,1.0

In [88]:
pred_non_clique = df[df["predictedClique"]==0]["Unnamed: 0"].values
pred_non_clique

array(['tt0002337', 'tt0002483', 'tt0002605', ..., 'tt9896768',
       'tt9898328', 'tt9903348'], dtype=object)

In [89]:
pd.DataFrame(pred_non_clique, columns=["pred_non_clique_titles"]).to_csv("pred_non_clique_titles.csv")

In [7]:
pred_non_clique

array(['tt0001230', 'tt0001498', 'tt0002337', ..., 'tt9730696',
       'tt9887154', 'tt9898328'], dtype=object)